<!DOCTYPE html>
<html ng-app="nLinkSim">

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script>

		var nLinkSim = angular.module('nLinkSim', []);
		nLinkSim.controller('mainController', function ($scope, $http, $interval) {

			$scope.svg = document.querySelector('svg');

			//array of manipulator link lengths
			$scope.lens = [60, 60, 50, 50, 40, 30, 30];
			// Create an SVGPoint for future math
			$scope.pt = $scope.svg.createSVGPoint();
			// Get point in global SVG space
			$scope.cursorPoint = function (evt) {
				$scope.pt.x = evt.clientX; $scope.pt.y = evt.clientY;
				return $scope.pt.matrixTransform($scope.svg.getScreenCTM().inverse());
			}


			//forward kinematics, returns start point and manipulator endpoints
			$scope.showrobot = function (angs, lens) {
				var screen = $scope.svg.getBoundingClientRect();
				$scope.xc = screen.width / 2;
				$scope.yc = screen.height / 2;
				var pts = [];
				//center robot at screen center
				pts[0] = { x: $scope.xc, y: $scope.yc };
				var angsum = 0;

				for (i = 0; i < angs.length; i++) {
					angsum += angs[i];
					pts[i + 1] = {};
					pts[i + 1].x = pts[i].x + lens[i] * Math.cos(angsum);
					pts[i + 1].y = pts[i].y + lens[i] * Math.sin(angsum);
				}
				//console.log(pts);
				return pts;
			}

			//computes jacobian
			$scope.nlinkjac = function (angs, lens) {
				var jac = [];

				var angsum = 0;
				for (i = 0; i < angs.length; i++) {
					angsum += angs[i];
				}

				jac[angs.length - 1] = {};

				jac[angs.length - 1].x = -lens[lens.length - 1] * Math.sin(angsum);
				jac[angs.length - 1].y = lens[lens.length - 1] * Math.cos(angsum);

				for (i = angs.length - 2; i >= 0; i--) {
					angsum -= angs[i];
					jac[i] = {};
					jac[i].x = jac[i + 1].x - lens[i] * Math.sin(angsum);
					jac[i].y = jac[i + 1].y + lens[i] * Math.cos(angsum);
				}

				return jac;
			}

			//initialize angles to 0
			$scope.angs = [];
			for (i = 0; i < $scope.lens.length; i++) {
				$scope.angs[i] = 0;
			}

			$scope.gotopoint = function (pt, lens, angs) {


				var pts = $scope.showrobot(angs, lens);
				$scope.pts = pts;
				console.log($scope.pts);

				$scope.vec = { x: (pt.x - pts[pts.length - 1].x), y: (pt.y - pts[pts.length - 1].y) };

				$scope.dist = Math.hypot($scope.vec.x, $scope.vec.y);

				if ($scope.dist > .05) {
					$scope.vec.x = $scope.vec.x / $scope.dist;
					$scope.vec.y = $scope.vec.y / $scope.dist;
				} else {
					$scope.vec.x = $scope.vec.x / .05;
					$scope.vec.y = $scope.vec.y / .05;
				}
				$scope.eps = 1;
				$scope.lambda = .01 / 50000; // /maxlens

				$scope.angs = angs;

			}

			//calculation to run repeatedly
			$scope.mainloop = function (angs, lens) {
				if ($scope.G && $scope.dist > $scope.eps) {
					console.log("while");

					var jac = $scope.nlinkjac(angs, lens);
					var dangs = [];
					for (i = 0; i < jac.length; i++) {
						dangs[i] = $scope.lambda * jac[i].x * $scope.vec.x + $scope.lambda * jac[i].y * $scope.vec.y;
						angs[i] += dangs[i];
					}
					pts = $scope.showrobot(angs, lens);
					$scope.pts = pts;
					vec = { x: ($scope.G.x - pts[pts.length - 1].x), y: ($scope.G.y - pts[pts.length - 1].y) };
					$scope.vec = vec;
					$scope.dist = Math.hypot(vec.x, vec.y);

				}
			}

			//mousemove handler
			$scope.m = function (evt) {
				//$scope.G = 
				var t = $scope.cursorPoint(evt);
				$scope.G = t;
				//}

				$scope.gotopoint($scope.G, $scope.lens, $scope.angs);


			}

			//initial points display
			$scope.pts = $scope.showrobot($scope.angs, $scope.lens);

			$interval(function () {
				$scope.mainloop($scope.angs, $scope.lens);
			}, 1)
		}); //controller



	</script>

</head>

<body ng-controller="mainController">

	<!-- live display of angles -->
	<div style="position:absolute;top:0;left:0">
		<p ng-repeat="a in angs">{{$index}}:{{a*180/3.14159}}</p>
	</div>
	<svg id="mydrawing" ng-mousemove="m($event)" style="position:absolute;top:0;left:0;width:100%;height:100%">
		<g ng-repeat="r in pts">
			<line ng-if="$index" style="stroke:{{$even?'red':'blue'}};stroke-width:{{pts.length-$index}}" ng-attr-x1="{{ pts[$index-1].x }}"
			 ng-attr-y1="{{ pts[$index-1].y }}" ng-attr-x2="{{r.x}}" ng-attr-y2="{{r.y}}"></line>

		</g>
		<line ng-if="G" ng-attr-x1="{{pts[pts.length-1].x}}" ng-attr-y1="{{pts[pts.length-1].y}}" ng-attr-x2="{{pts[pts.length-1].x+3*vec.x}}"
		 ng-attr-y2="{{pts[pts.length-1].y+3*vec.y}}" style="stroke:yellow;stroke-width:2"></line>
		<circle ng-attr-cx="{{G.x}}" ng-attr-cy="{{G.y}}" r="5" fill="green"></circle>

	</svg>



</body>

</html>
